:root {
  --color-dark-grayish-blue: hsl(217, 19%, 35%);
  --color-desaturated-dark-blue: hsl(214, 17%, 51%);
  --color-grayish-blue: hsl(212, 23%, 69%);
  --color-light-grayish-blue: hsl(210, 46%, 95%);

  --fw-medium: 500;
  --fw-bold: 700;

  --fs-base: clamp(0.9375rem, 2.5vw, 1rem);
  --fs-heading: clamp(1.25rem, 2.5vw, 1.5rem);
  --fs-details: 1rem;

  --ff-manrope: "Manrope", sans-serif;
  --shadow-grayish-blue: 0 10px 15px hsla(217, 19%, 35%, 0.15);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;

  font-family: var(--ff-manrope);
  font-size: var(--fs-base);
  padding: 5rem 2rem;
  background-color: var(--color-light-grayish-blue);
}

.article-card {
  display: flex;
  flex-direction: column;

  border-radius: 0.75rem;
  background-color: white;
  box-shadow: var(--shadow-grayish-blue);
}

.article-preview {
  display: block;
  width: 100%;
  border-radius: 0.75rem 0.75rem 0 0;
}

.article-content {
  position: relative;
  padding: 2.5rem 2.5rem 1.5rem 2.5rem;
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.article-title {
  font-size: var(--fs-heading);
  font-weight: var(--fw-bold);
  color: var(--color-dark-grayish-blue);
}

.article-description {
  line-height: 1.5;
  font-weight: var(--fw-medium);
  color: var(--color-desaturated-dark-blue);
}

.article-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.article-source {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  z-index: 1;
  transition: opacity 0.3s ease;
}

.author-avatar {
  width: 52px;
  height: 52px;
  border-radius: 50%;
}

.author-name {
  font-size: var(--fs-details);
  font-weight: var(--fw-bold);
  color: var(--color-dark-grayish-blue);
  margin-bottom: 0.1rem;
}

.date {
  font-size: var(--fs-details);
  font-weight: var(--fw-medium);
  color: var(--color-grayish-blue);
}

.share-actions {
  display: flex;
  align-items: center;
}

.share-menu {
  position: absolute;
  inset: auto 0 0 0;
  z-index: 2;

  display: flex;
  align-items: center;
  gap: 1.25rem;

  background-color: var(--color-dark-grayish-blue);
  border-radius: 0 0 0.75rem 0.75rem;
  padding: 2rem 2.5rem;

  opacity: 0;
  transform: scaleX(0);
  transform-origin: right;
  pointer-events: none;

  transition:
    transform 0.4s ease,
    opacity 0.3s ease;
}

.article-details.open .share-menu {
  opacity: 1;
  transform: scaleX(1);
  pointer-events: auto;
}

.article-details.open .article-source {
  opacity: 0;
}

.share-menu p {
  font-size: var(--fs-details);
  font-weight: var(--fw-medium);
  color: var(--color-grayish-blue);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.share-option {
  transition: transform 0.4s ease;
}

.share-option:hover {
  transform: scale(1.1);
}

.share-option img {
  width: 28px;
  height: 28px;
}

.share-btn {
  padding: 0.75rem;
  text-align: center;
  z-index: 3;

  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.share-btn img {
  display: block;
  width: 18px;
  height: 18px;
}

.article-details.open .share-btn {
  background-color: var(--color-desaturated-dark-blue);
  animation: spin-wiggle 1.2s ease;
}

.article-details.open .share-btn img {
  filter: brightness(0) invert(1);
}

.footer-section {
  margin-top: 3rem;
  color: var(--color-dark-grayish-blue);
  text-align: center;
}

.footer-section a {
  color: var(--color-desaturated-dark-blue);
}

@media (min-width: 48rem) {
  .article-card {
    max-width: 900px;
    flex-direction: row;
  }

  .article-preview {
    max-width: 360px;
    object-fit: cover;
    object-position: left center;
    border-radius: 0.75rem 0 0 0.75rem;
  }

  .article-content {
    position: static;
    padding: 2.5rem 3rem;
  }

  .article-details {
    position: relative;
    margin-top: 1rem;
  }

  .share-menu {
    inset: auto -125px 85px auto;
    padding: 1.25rem 2.5rem;
    border-radius: 1rem;
    box-shadow: var(--shadow-grayish-blue);

    transform: translateY(25px);
    transform-origin: bottom;
  }

  .article-details.open .share-menu {
    transform: translateY(0);
  }

  .share-menu::after {
    content: "";
    position: absolute;
    inset: auto auto 0 50%;
    width: 0;
    height: 0;

    border: 20px solid transparent;
    border-bottom: 0;
    border-top-color: var(--color-dark-grayish-blue);

    margin-left: -15px;
    margin-bottom: -15px;
  }

  .article-details.open .article-source {
    opacity: 1;
  }

  .share-menu p {
    font-size: var(--fs-base);
  }

  .share-option img {
    width: 24px;
    height: 24px;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

@keyframes spin-wiggle {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(390deg);
  }
  66% {
    transform: rotate(330deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
